.circle {
    position: relative;
    background: #8cc63e;
    border-radius: 20vh;
    width: 7vh;
    height: 7vh;
}

.checkmark {
    position: absolute;
    transform: rotate(45deg) translate(-50%, -50%);
    left: 2.7vh;
    top: 3.4vh;
    height: 2vh;
    width: 0.9vh;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
}

#thx {
    font-size: 5vh;
    padding: 1vh;
    margin-left: 8vh;
}

.border {
    box-sizing: border-box;
    border: 5px solid green;
    margin: 5vh;
    padding: 0.5vh;
}

.box p {
    margin: 2vh;
    font-size: 1vh;
}

.box a {
    text-decoration: none;
}

.nev {
    display: flex;
}

.nev p {
    font-size: 2vh;
    margin: 2vh;
}

.nev img {
    height: 5vh;
    width: 4vh;
}
/* *{
    background-color: black;
} */